@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-image: linear-gradient(0deg, #03223f, #038bbb);
    background-repeat: no-repeat;   
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

header > h1 {
    text-align: center;
    margin-inline: auto;
    max-width: 600px;
    padding-top: 26px;
    padding-bottom: 26px;
    font-weight: bolder;
}

h1:hover {
    text-shadow: 0px 0px 3px white;
    transition-duration: 0.71s;
}

.mobile {
    text-align: center;
    max-width: 60vw;
    min-width: 300px;
    margin-inline: auto;
    font-weight: normal;
    font-size: 1.15em;
    line-height: 134%;
}

div#settings {
    margin-inline: auto;
    text-align: center;
    font-size: 1.15em;
    max-width: 450px;
}

.entrada {
    display: flex;
    text-align: center;
    margin-inline: auto;
    width: 200px;
    height: 49px;
    background-color: transparent;
    outline: none;
    border: 2px solid cyan;
    border-radius: 26px;
    font-size: 1.0em;
    margin-top: 26px;
}


#resultado {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    position: relative;
}


/* ==== efeito após aparecer o resultado ==== */
@keyframes circle {
    0% { opacity: 0.4; }
    100% { opacity: 1; }
}

#circleEffect {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    animation: circle 1s linear infinite;
    position: absolute;
}
/* ==== termina aqui o cod. efeito ==== */

input#botao {
    display: block;
    margin-top: 26px;
    margin-bottom: 26px;
    width: 200px;
    height: 53px;
    margin-inline: auto;
    background-color: transparent;
    border: 2px solid cyan;
    border-radius: 26px;
    cursor: pointer;
    font-size: 1.15em;
}

#dataStart:hover, #dataEnd:hover, #botao:hover {
    box-shadow: 0px 0px 5px white;
    transition-duration: 0.71s;
}